{% extends this.viewPath('main') %}

{% set layout='full' %}

	
{%block content %}
<div class="col-xs-12 col-sm-8 col-sm-offset-2">
	<p>
		<strong>{{ model.username }}</strong> has got email address <strong>{{ model.email }}</strong>.<br />
		You are a member since {{ model.creation_date |date('j F Y') }}. 
		You will {%if model.has_newsletter == 0 %}not {% endif %}recieve our newsletter.<br/>
		Your rights are a {{ model.rightsText }}.	
	</p>
</div>
{%endblock%}