{% extends this.viewPath('formSmall') %}

{% block formExplain %}
<h3 class="short_headline"><span>procedure</span></h3>
<p>After you have entered your email address and pressed Request password, 
	we will send a mail to that address with your password.
</p>
{% endblock %}


	