{# 
 an empty dialog 
 #}
	<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% block dialogHeader %}header{%endblock %}</h3>
  </div>
  <div class="modal-body" >
		{% block dialogBody %}This is the body{%endblock%}    
  </div>
  <div class="modal-footer">
		{% block dialogFooter %}
    <button id="btn-close" class="btn">{{ this.t('btn-close') }}</button>
		{% endblock %}
  </div>
<script type="text/javascript">
	$().ready(function() {
		$('#btn-close').on('click', function() {
			$('#id-modal').modal('toggle');
		});
		{% block onReady %}{% endblock %}
	});	
</script>	
