{# 
 an empty dialog 
 #}
	<div class="modal-header">
    <button type="button" class="close action-close" data-dismiss="modal" aria-hidden="true">×</button>
    {% block dialogHeader %}dialogHeader{%endblock %}
  </div>
  <div class="modal-body" >
		{% block dialogBody %}This is the body{%endblock%}    
  </div>
  <div class="modal-footer">
		{% block dialogFooter %}
    <button id="btn-close" class="btn action-close">{{ this.t('btn-close') }}</button>
		{% endblock %}
  </div>
<script type="text/javascript">
	$().ready(function() {
		$('.action-close').on('click', function() {
			$('#id-modal').modal('hide');  
		});
		
		{% block onReady %}{% endblock %}
    {{ this.scriptOnReady |raw }}  
	});	

</script>	
