{% extends this.viewPath('main') %}

{# no menu for this form on the left side #}
{% block menuLeft %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-xs-10 msgbox-layout border">
		<h2>{% block title %}{{ form.title}}{% endblock %}</h2>
		{% if this.model.hasErrors() %}
		<div class="alert alert-danger">			
			{{ html.errorSummary(this.model)|raw }}
		</div>
		{% endif %}		
		{% block message %}{% endblock %}
		<div class="{% if this.model.hasErrors() %}shake{% endif %} col-sm-12">		
			{% if form %}
			<div class="bs-content">
		{% include this.viewPath('_form') %}
			</div>		
		{% include this.viewPath('_buttons') %}
			{% endif %}
		</div>		
	</div>
</div>	
	
{% endblock %}