{% extends this.viewPath('form') %}

{% block formStart %}<div class="span6 offset1">{%endblock %}
{% block formEnd %}
</div> 
<div class="span3 offset1">
	{% block formExplain %}{% endblock %}
</div>
{%endblock%}
