{#
 Form to unsuscribe from the newsletter
#}
<form method="post">
	<input type="hidden" name="nonews" value="1" />
	<button type="submit" class="btn btn-info" >{{ this.t('Unsubscribe for our newsletter') }}</button>
</form>