{#
	a small form with only one field and a button
#}

<form method="post" action="{{ this.createUrl('profile/newsletter') }}" method="post">
<div class="input-append">
	<input class="span6" type="email" name="Newsletter[email]" placeholder="{{ this.t('email address') }}">
	<button class="btn btn-info">{{ this.t('btn-sign-up') }}</button>
</div>	
</form>