{% extends this.viewPath('formDialog') %}

{% block message %}
<p>{{ this.te('After you have entered your email address and pressed Request password, 
	we will send a mail with your password.') }}
</p>
{% endblock %}


	