{% extends this.viewPath('formDialog') %}

{% block formExplain %}
<h5 class="short_headline"><span>{{ this.te('procedure')}}</span></h5>
<p>{{ this.te('After you have entered your email address and pressed Request password, 
	we will send a mail to that address with your password.') }}
</p>
{% endblock %}


	